@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --primary-color: #bfd0d8;    
    --secundary-color: #885768;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
    font-family: 'Robot', sans-serif;
}

.inactive {
    display: none;
}

.wrapper {
    display: grid;
    grid-template-rows: 60px 5px 50% auto 5px minmax(80px, auto);
    height: 100vh;
    place-items: center;
}

.header {
    display: grid;
    place-items: center;
    color: black;
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 4px;
    background: #beced5;
    box-shadow: inset 1px 1px 2px #94a1a6,
            inset -1px -1px 2px #e8fbff;
}

.cards {
    display: block;
    width: 100%;
    height: 400px;
    overflow-x: scroll;
}

.cards::-webkit-scrollbar {
    display: none;
}

.slider-container {
    display: inline-flex;
    white-space: nowrap;
    min-height: 350px;
    align-items: center;
    margin: 0 40px;
    height: 100%;
}

.cards .item {
    display: inline-block;
    margin: 0 15px;
    width: 220px;
    height: 220px;
    border: 5px solid var(--primary-color);
    transition: all 1.0s ease;
    border-radius: 30px;
    background: var(--primary-color);
    box-shadow:  10px 10px 20px #7a8488,
             -10px -10px 20px #d3e4ee;
    overflow: hidden;
    position: relative;
}

#main {
    margin: 0;
    width: 270px;
    height: 270px;
    /*position: absolute;
    left: 40px;
    margin-left: 10px;*/
}

.cards div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progrest-bar {
    display: grid;
    place-items: center;
}

.song {
    font-weight: 500;
    margin: 10px;
    font-weight: bold;
}

.artist {
    color:  var(--secundary-color);
    font-weight: bold;
}

.progrest-bar div .barra {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 6px;
    border-radius: 10px;
    background: #c2d3db;
    box-shadow: inset 1px 1px 2px #99a7ad,
                inset -1px -1px 2px #ebffff;
}

.barra .progress {
    height: 5px;
    width: 0;
    background-color: var(--secundary-color);
    border-radius: 10px;
}

.barra p {
    color:  var(--secundary-color);
    font-weight: bold;
    margin-top: 5px;
}

.barra .start {
    float: left;
    margin-bottom: 20px;
}

.barra .end {
    float: right;
    margin-bottom: 20px;
}

.audio {
    display: none;
}

/*<i class="fa-solid fa-pause"></i>*/
.footer {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(5, minmax(70px, 1fr));
    align-content: center;
    justify-items: center;
}

.footer button {
    color: var(--secundary-color);
    font-size: 25px;
    width: 55px;
    height: 55px;
    margin: 0 5px;
    border: none;
    border-radius: 50px;
    background: var(--primary-color);
    box-shadow:  5px 5px 10px #7a858a,/*#95a2a8,*/
             -5px -5px 10px #d3e4ee;
}

.footer button:active {
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.footer .backward-button:active{
    color: white;
}

.footer .farward-button:active{
    color: white;
}

